/* Here is your custom css styles. */
nav .brand-logo {
  bottom: 1px;
}

/* bg color */
.bg-color {
  background-image: linear-gradient(to right, #1da7da 0%, #8361fe 100%);
}

/* headbar cover */
.headbar-cover {
  background: #1da7da;
  /*background: linear-gradient(45deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -moz-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -webkit-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
}

/* footer cover */
.footer-cover {
  padding-top: 0;
  background: #1da7da;
  /*background: linear-gradient(45deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -moz-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -webkit-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
}

/* index cover */
.index-cover .bg-cover {
  background: #1da7da;
  /*background: linear-gradient(45deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -moz-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -webkit-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
}

/* index recommend tags */
.recommend .tag-card {
  position: relative;
  width: 98%;
  height: 50px;
  max-height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  color: rgba(0, 0, 0, .87);
  background: #fff 50%;
  background-size: cover;
  /*box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);*/
}

/* card hover --start */
.recommend .tag-card::before,
.recommend .tag-card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.recommend .tag-card::before{
  transform-origin: left top;
}
.recommend .tag-card::after{
  transform-origin: right bottom;
}
.recommend .tag-card:hover::before,
.recommend .tag-card:hover::after,
.recommend .tag-card:focus::before,
.recommend .tag-card:focus:after {
  transform: scale3d(1, 1, 1);
}
/* card hover --end */

.recommend .tag-card .tag-body {
  position: relative;
  margin: 0 auto;
  /*padding: 1.4rem 1.25rem;*/
  line-height: 50px;
  z-index: 2;
}

.recommend .tag-card a {
  font-size: 18px;
  color: #fff;
}

/* index recommend tag-card: mouse hover */
.recommend .tag-card {
  transition: transform .3s ease-in-out, box-shadow .3s cubic-bezier(.47, 0, .745, .715), border .3s linear .1s;
}

.recommend .tag-card:hover {
  /*box-shadow: 0 10px 50px rgba(51, 51, 51, .25);*/
  /*-webkit-transform: translateY(-10px);*/
  /*-moz-transform: translateY(-10px);*/
  /*transform: translateY(-10px)*/
}

/* article cover */
.post-cover {
  background: #1da7da;
  /*background: linear-gradient(45deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -moz-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -webkit-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
}

/* article content blockquote */
blockquote {
  border-left: 5px solid rgb(220, 230, 240);
  padding: 1rem 0.8rem 0.2rem 0.8rem;
  color: #666;
  background-color: rgb(242, 247, 251);
}

#artDetail blockquote p {
  text-indent: 0;
}

/* article content reference */
#artDetail h2 {
  padding-bottom: 12px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
}

#artDetail h1, #artDetail h2, #artDetail h3, #artDetail h4, #artDetail h5, #artDetail h6 {
  color: #333;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#artDetail .reference {
  text-align: right;
  font-size: 14px !important;
  color: #9e9e9e !important;
}

#artDetail .reference a {
  text-align: right;
  font-size: 14px !important;
  color: #9e9e9e !important;
  pointer-events: none;
  text-decoration: none;
}

/* remove radius in each card */
.card {
  border-radius: 0;
}

/* resize font-size in each card-title */
.card .card-title {
  font-size: 22px;
}

/* remove default shadow and radius in article content */
#artDetail .card {
  box-shadow: none !important;
  border-radius: 0;
}

/* about cover */
.about-cover {
  background: #1da7da;
  /*background: linear-gradient(45deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -moz-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
  /*background: -webkit-linear-gradient(135deg, #4a85e9 0%, #de5448 100%);*/
}

/* user avatar */
.profile .avatar-img {
  border-radius: 0%;
}

/* card */
#articles .card .card-image .card-title {
  font-weight: normal !important;
}

/* blog detail */
.bg-cover .post-title {
  font-weight: normal !important;
}

/* comment - Valine */
#vcomments .info {
  display: none;
}

#vcomments .vinfo {
  display: flex !important;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* rightClickMenu */
#rightClickMenu {
  display: none;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  opacity: 1;
  width: 180px;
  height: 200px;
  border-radius: 10px
}

#rightClickMenu > ul > li {
  cursor: pointer;
  line-height: 36px;
}

#rightClickMenu > ul > li > span {
  width: 65px;
  /*display: inline-block;*/
}

#rightClickMenu > ul > li.rightClickMenuActive {
  color: #3399CC;
}

#rightClickMenu > ul > li.disabled {
  cursor: no-drop;
  color: #666;
}
